.card {
  width: 300px;
  height: auto;
  border-radius: 20px;
  padding: 15px;
  margin: 25px;
}

.card:hover {
  background-color: rgba(218, 165, 32, 1);
}

.cards {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.card img {
  width: 100%;
  border-radius: 20px;;
}
